* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

$gold: #C8A35F;

.container {
   max-width: 1140px;
   width: 100%;
   margin: 0 auto;
}

.title {
   font-size: 40px;
   color: #fff;
   text-transform: uppercase;
   position: relative;
   
   &::before{
      content: '';
      height: 6px;
      width: 90px;
      background: $gold;
      position: absolute;
      left: 0;
      top: -40px;
   }
}

@import "../scss/header";
@import "../scss/home";
@import "../scss/transportation";
@import "../scss/services";
@import "../scss/company";
@import "../scss/footer"