.services {
   background-color: #2f343a;
   width: 100%;
   padding: 167px 200px 120px;

   &__block {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
   }

   &__card {
      width: 25%;
      height: 180px;
      background: #393F47;
      border: 1px solid black;
      position: relative;
      text-align: center;
      padding-top: 128px;

      &:hover {
         background: $gold;
         cursor: pointer;
         &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff url(../images/services/jet-black.png) center center no-repeat;
            width: 70px;
            height: 70px;
            border-radius: 50%;
         }
      }

      &::before {
         content: '';
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background: url(../images/services/jet-white.png) center center no-repeat;
      }
   }

   &__text {
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
   
   }
}