.transportation {
   background: linear-gradient(90deg, #393F47 35%, #2F343A 35% 65%, #393F47 65%);
   padding: 166px 200px 129px;

   .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
   }

   &__title {
      font-size: 40px;
      color: #fff;
      text-transform: uppercase;
   }

   &__subtitle {
      font-size: 18px;
      color: #fff;
      margin: 30px 0 68px;
   }

   &__btn {
      background: $gold;
      width: 220px;
      height: 55px;
      color: #fff;
      border: none;
   }

   &__next {
      color: $gold;
      text-transform: uppercase;
      position: relative;

      &::before {
         content: '';
         width: 65px;
         height: 100%;
         background: url(../images/transportation/Arrow.png) center center / cover no-repeat;
         position: absolute;
         top: 0;
         left: calc(100% + 31px);
      }
   }

   &__back {
      color: $gold;
      text-transform: uppercase;
      position: relative;
      left: calc(100% + 31px);

      &::before {
         content: '';
         width: 65px;
         height: 100%;
         background: url(../images/transportation/Arrow.png) center center / cover no-repeat;
         position: absolute;
         top: 0;
         left: calc(-100% - 31px);
         transform: rotate(180deg);
      }
   }

   .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}